<h1>Update Pet</h1>
<form class="" action="/pets/<%=@pet.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <p><input type="text" name="pet_name" value="<%=@pet.name%>"></p>

  <h3>Existing Owners</h3>
  <% @owners.each do |owner| %>
    <input type="radio" name="owner[name]" id="<%= owner.id %>" value="<%= owner.id %>" <%="checked" if @pet.owner.id == owner.id%>><%= owner.name %><br>
  <% end %>
  <h3>New Owner</h3>
    <label>Owner Name:</label>
    <br>
    <input type="text" name="owner_name" id="owner_name"></input>
    <br><br>
  <input type="submit" value="Update Pet">
</form>
